.graphContainer{
    position:relative;
    width:60%;
    max-width:1000px;
    min-width:600px;
    height:40%;
    min-height:400px;
    background-color: antiquewhite;
    margin:0 auto;

    padding-top:2rem;
}