.bar {
  stroke: 1px solid white;
  fill:antiquewhite;
}
  
.bar:hover {
  filter: brightness(1.3);
}

svg {
  border: 1px solid black;
  font-size:1rem;
}

.grid .tick {
  stroke:lightgrey;
  stroke-opacity:0.3;
  shape-rendering: crispEdges;
  
}

.grid path {
  stroke-width: 0;
}